<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Balance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' ,filename='css/balance.css')}}">
</head>
<body>
    <main>
        <!-- Content goes here -->
        <div class="atm-container">
            <div class="atm-screen">
                
                <h2 class="top-header">Facial Biometric Authentication </h2>
                {%if check=="inquery"%}
                    <!-- Main Menu Screen -->
                
                <h2 class="balance-show">Balance:{{balance}}</h2>
                <a href='/'><button class="balance-btn">Exit</button></a>
                <!--amount withdraw form-->
                {%elif check=="withdraw_amount"%}
                <form method="POST" action="/withdraw">
                    <label for="amount" class="amount-lable">Enter Amount to Withdraw</label><br><br>
                    <input type="number" name="amount" id="amount" required>
                    <input type="hidden" name="mobile" value="{{mobile}}">
                    <input type="hidden" name="bank_name" value="{{bank_name}}"><br><br>
                    <button type="submit" class="withdraw-btn">Withdraw</button>
                </form>
                <!--amount debited messsage-->
                {%elif check=="debited_amount"%}
                <h2 class="withdraw-msg">{{message}}</h2>

                <!--amount deposite-->
                {%elif check=="deposite_amount"%}
                <h2 class="withdraw-msg">{{message}}</h2>

                <!--Transfer Amount-->
                {%elif check=="GET_transfer"%}
                <form method="POST" action="/bank_display" class="form-container">
                    <label for="mobile" class="amount-label">Enter Mobile Number To Transfer</label><br><br>
                    <input type="text" name="reciver_mobile" id="mobile" class="mobile-input" required>
                    <input type="hidden" name="sender_mobile" value="{{mobile}}">
                    <input type="hidden" name="sender_bank_name" value="{{bank_name}}"><br><br>
                    <button type="submit" class="submit-btn"> submit</button>
                </form>
                {%elif check=="POST_transfer"%}
                <input type="hidden" name="bank_name"id="bank_name">
                <h3 style="color:green">Amount Transfered successfully</h3>

                <!--Transaction History-->
                {%elif check=="history"%}
                <h2 class="transaction-history">Transaction History for {{ mobile }}</h2>
                {% if history %}
                    <table class="transaction-table">
                        <thead class="table-header">
                            <tr>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Type</th>
                                <th>Date & Time</th>
                            </tr>
                        </thead>
                    <tbody>
                    {% for txn in history %}
                        <tr class="table-row">
                            <td>{{ txn.bank_name }}</td>
                            <td>₹{{ txn.amount }}</td>
                            <td>{{ txn.type }}</td>
                            <td>{{ txn.currentTime }}</td>
                        </tr>
                    {% endfor %}
                    {%endif%}
                    </tbody>
                </table>
                {%endif%}
            </div>

        </div>
    </main>

    <!--{% extends "stopwatch.html" %}-->
</body>
</html>