<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate PIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Generate PIN</h1>

    {%if check=="GET"%}
    <form method="POST" action="/generate_pin">
        <input type="hidden" name="mobile" value="{{ mobile }}">
        <input type="hidden" name="bank" value="{{ bank_name }}">
        <label for="pin_length">PIN Length:</label>
        <input type="number" id="pin_length" name="pin" required>
        <button type="submit">Generate</button>
    </form>
    {%elif check=="POST"%}
    <h2>generated pin {{pin}}</h2>
    {%endif%}
</body>
</html>